<div>

    {{#with formBlock}}
    <div class="conteiner">
        <div class="row">

            {{!-- первая колонка начало --}}
            <div class="col-8">
                <h1>{{header}}</h1>
                <div class="my-5">{{rating.title}} {{rating.value}}</div>

                <ul class="nav nav-tabs">
                    {{#each actionBlock.tabs}}
                    <li class="nav-item mx-5">
                        <a class="nav-link {{#if @last}}active{{/if}}" href="#">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>

                <hr>

                <div class="card my-5">
                    <div class="card-body">
                        <div>Залиште відгук про товар</div>
                        <button class="my-3 btn btn-secondary">Написати відгук</button>
                    </div>
                </div>

                <hr>

                {{#with feedbackBlock}}
                <h2 class="my-5">{{title}}</h2>

                <div class="my-5">
                    {{#each buttons}}
                    {{>btn data=this }}
                    {{/each}}
                </div>

                {{/with}}
            </div> {{!-- первая колонка конец --}}




            <div class="col-4"> {{!-- вторая колонка начало --}}
                {{#with goodsInfo}}

                <div class="card">
                    <div class="card-body">
                        <img src="{{photo}}">
                        <div class="mt-2 fw-bold">{{name}}</div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <div class="mt-2 fw-bold">{{price}}</div>
                        {{#if inMarket}}
                        <div class="mt-1">In stock</div>
                        {{/if}}
                        {{#each buttons}}
                        {{>btn data=this }}<br>
                        {{/each}}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <div class="mt-2 fw-bold">{{seller.title}}: <b>{{seller.value}}</b></div>
                    </div>
                </div>

                {{/with}}

            </div> {{!-- вторая колонка конец --}}

        </div> {{!-- конец div row --}}


        {{/with}} {{!-- end formBlock --}}


        <div class="row">

            {{#each reviewList}}
            {{>review_item data=reviewList }}
            {{!-- <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="card px-3">
                            {{#with title}}
                            <div class="mt-3 fw-bold">{{userName}}</div>
                            <div class="">{{caption}}</div>
                            <div class="">{{date}}</div>
                            {{/with}}

                            <hr>

                            {{#with reviewBody}}

                            <div class="my-2">{{seller.title}}: {{seller.value}}</div>
                            <div class="mb-3">{{rating.title}}: {{rating.value}}</div>
                            <div class="">{{text}}</div>
                            <div class="my-2"><b>{{advantages.title}}</b><br> {{advantages.text}}</div>
                            <div class="my-2"><b>{{advantages.title}}</b><br> {{advantages.text}}</div>

                            <div class="row">
                                {{#each images}}

                                <img style="width:10%;" class="m-1 mb-3" src="{{this}}">

                                {{/each}}
                            </div>

                        </div>

                        <div class="row">
                            {{#each coments}}
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="card my-3">
                                    <div class="card-body">
                                        <div class="fw-bold">{{userName}}</div>
                                        <div>{{date}}</div>
                                        <p class="my-3">{{text}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>
                        {{/with}}

                    </div>

                </div>
            </div> --}}
            {{/each}}
        </div>
    </div>

</div>
{{>shopaction data=service }}