<main>

    <div class="card">
        <table style="border: 0px;">
            <tbody>
                <tr>
                    <td style="border: 0px;">
                        <h1>
                            {{navigation.Logo}}
                        </h1>
                    </td>
                    <td style="border: 0px;">
                        <div>
                            <ul class="nav justify-content-end">
                                {{#each navigation.links}}
                                <li class="nav-item">
                                    <a class="nav-link {{#if @last}}disabled{{/if}}" aria-current="page"
                                        href="{{href}}">{{text}}</a>
                                </li>
                                {{/each}}

                            </ul>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- top -->
    <br>
    <section>
        {{#with newsBlock}}
        <div class="text-center">
            <h2>{{title}}</h2>
        </div>

<div class="row gap-1">
        {{#each cards}}
        <div class="card col-3 text-bg-secondary">
            <div class="card-header">
                <b>{{title}}</b>
            </div>
            <div class="card-body">
                {{description}}
            </div>

        </div>

        {{/each}}
        </div>
        {{/with}}
    </section>







</main>