<main>
    <div>
        {{#with navigation}}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{#each links}}
                <li class="breadcrumb-item"><a href="{{href}}">{{text}}</a></li>
                {{/each}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div><a class="btn btn-primary btn-sm"
                        href="{{button.href}}">{{button.text}}</a></div>
            </ol>
        </nav>
        {{/with}}

        <hr>

        <section>
            {{#with header}}
            <div>
                <h1>
                    {{title}}
                </h1>
            </div>
            <div>
                <p class="text-muted">
                    {{description}}
                </p>
            </div>
            <div>
                <a href="{{button.link}}" role="button" class="btn btn-primary btn-sm">{{button.text}}</a>
            </div>
            {{/with}}
        </section>

        <hr>

        <section>
            {{#with city}}
            <h2>{{title}}</h2>
            <div class="row gap-2">
                {{#each cards}}
                <div class="card col-5">
                    <img src="{{picture.src}}" class="card-img-top" alt="{{picture.alt}}">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p><br>
                        <div class="d-grid"><a href="{{button.href}}" class="btn btn-primary btn-sm">{{button.text}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>

        <section>
            {{#with winner}}
            <h2>{{title}}</h2>

            {{#with table}}
            <table class="table">
                <thead>
                    <tr>
                        {{#each head}}
                        <th>
                            {{this}}
                        </th>
                        {{/each}}

                    </tr>
                </thead>
                <tbody>

                    {{#each user}}
                    <tr>
                        <th>
                            {{place}}
                        </th>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{surname}}
                        </td>
                        <td>
                            {{nickname}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/with}}

            {{/with}}

        </section>

        <hr>

        <section>
            {{#with gallery}}
            <h2>{{title}}</h2>

            <div class="row g-3">
                {{#each cards}}

                <div class="card col-4">
                    <div class="card-header">{{name}}</div>
                    <ul class="list-group list-group-flush">
                        {{#each items}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>

                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>

        <section>
            {{#with relaxion}}
            <div class="display-3">{{title}}</div>

            <div class="row gap-3">
                {{#each cards}}

                <div class="card col-5 text-bg-secondary">
                    <div class="card-header">{{header}}</div>

                    <div class="card-body ">
                        <h2 class="card-title">{{title}}</h2>
                        <div>{{description}}</div>
                    </div>
                </div>

                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>

        <section>
            {{#with rest}}
            <div class="row gap-3">
                {{#each cards}}

                <div class="card col-5 text-center">
                    <div class="card-header">{{header}}</div>

                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <div>{{description}}</div><br>
                        <div><button class="btn btn-primary">{{button}}</button></div>
                    </div>

                    <div class="card-footer">{{footer}}</div>

                </div>

                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>

        <section>
            {{#with proposition}}
            <div class="display-2">{{title}}</div>
            <br>
            <div class="row gap-3">
                {{#each card}}

                <div class="card col-5 text-bg-warning text-light">
                    <div class="card-header">{{header}}</div>

                    <div class="card-body">
                        <h2 class="card-title">{{title}}</h2>
                        <div>{{description}}</div>
                    </div>
                </div>

                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>


        <section>
            {{#with footer}}
            <h5>{{title}}</h5>
            <div class="row">

                <div class="col-3">

                    <table class="table" style="border: 0px">

                        <tbody>
                            {{#each navigation}}
                            <tr>
                                <td style="border: 0px">
                                    <a class="btn btn-link" style="text-decoration: none" href="{{href}}">{{text}}</a>
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-4">

                    <table class="table" style="border: 0px">

                        <tbody>
                            {{#each socialMedia}}
                            <tr>
                                <td style="border: 0px">
                                    <a class="btn btn-outline-dark" href="{{link}}">{{name}}</a>
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-4">

                    <table class="table" style="border: 0px">

                        <tbody>
                            {{#each partners}}
                            <tr>
                                <td style="border: 0px">
                                    <a class="btn btn-outline-info" href="{{link}}">{{name}}</a>
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/with}}
            </div>
        </section>
























    </div>

</main>