{{!-- {{>breadcrumb data=navigation.links }} --}}

<div>
    <h1 class="my-5">
        {{header}}
    </h1>
</div>

{{!-- main div row --}}
<div calss="row">

    {{!-- 1 kolonka --}}
    <div class="col-8">
        {{#with contacts_data}}

        {{!-- knopki avtorizacii --}}
        <div class="my-4">
            <h2 class="mb-2">
                {{title}}
            </h2>
            {{#each buttons}}
            {{#if isPrimary}}
            <button class="btn btn-warning text-light">
                {{text}}
            </button>
            {{/if}}
            {{#if isOutline}}
            <button class="btn btn-outline-warning">
                {{text}}
            </button>
            {{/if}}

            {{/each}}
        </div>

        {{!-- fio klienta --}}
        <div>
            {{#with form}}
            <div class="row">
                {{#each input}}
                <div class="col-6 mb-3">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/each}}

                {{#each switch}}
                <div class="form-check form-switch my-2">
                    <label class="form-check-label">{{text}}</label>
                    <input class="form-check-input" type="checkbox" {{#if isActive}}checked{{/if}}>
                </div>
                {{/each}}



            </div>
            {{/with}}
        </div>
        {{/with}}

        <hr>

        <div id="delivery">

            {{#with delivery}}

            <h2 class="mb-2">
                {{title}}
            </h2>

            {{!-- <div class="row"> --}}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            {{#each select}}
                            <div class="col-6">
                                <label class="form-label">{{label}}</label>
                                <select class="form-select">
                                    <option selected>{{placeholder}}</option>
                                    {{#each options}}
                                    <option value="{{value}}">{{@index}}-{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{!--
            </div> --}}
            {{/with}}

        </div>


    </div>

    {{!-- 2 kolonka --}}

    <div class="col-4">

        <div class="card">
            <div class="card-body p-2">

                {{>button data=action_block }}

            </div>
        </div>

        <div class="card mt-2">
            <div class="card-body p-2">
                {{#with total}}
                <span class="display-5">{{title}}:</span>

                {{#each item_list}}
                <div>{{name}}: {{price}}</div>
                {{/each}}

                <hr>

                {{#each additional_info}}
                <div>{{text}}: {{value}}</div>
                {{/each}}

                <hr>

                {{#with total_price}}
                <div><b>{{text}}: {{value}}</b></div>
                {{/with}}

                <hr>

                {{>button data=button }}

                {{/with}}
            </div>
        </div>


    </div>


    {{!-- this div row --}}
</div>








{{>shopcard data=goodsOtherBlock}}

<hr>

{{>shopaction data=service }}