{{#with data}}

    {{#if isPrimary}}
        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
    {{else}}
        <a class="btn btn-outline-primary" href="{{link}}">{{text}}</a>
    {{/if}}

{{/with}}