{{#with data}}

{{#if isWarning}}
<a class="my-1 btn btn-warning" href="{{link}}">{{text}}</a>
{{/if}}

{{#if isSuccess}}
<a class="my-1 btn btn-success" href="{{link}}">{{text}}</a>
{{/if}}

{{#if isPrimary}}
<a class="my-1 btn btn-primary" href="{{link}}">{{text}}</a>
{{/if}}

{{#if isSecondary}}
<a class="my-1 btn btn-secondary" href="{{link}}">{{text}}</a>
{{/if}}

{{#if isDanger}}
<a class="my-1 btn btn-danger" href="{{link}}">{{text}}</a>
{{/if}}

{{#if isOutline}}
<a class="my-1 btn btn-outline-primary" href="{{link}}">{{text}}</a>
{{/if}}

{{/with}}