{{#each data}}
{{!-- <div class="row">
    <div class="col-12"> --}}
        <div class="card my-2 {{#if @first}}mt-5{{/if}}{{#if @last}}mb-5{{/if}}">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 pt-2">
                        <img stile="width:100%" src="{{image}}" alt="{{name}}">
                    </div>

                    <div class="col-4">
                        <h3>{{name}}</h3>
                        <div>{{description}}</div>
                    </div>

                    <div class="col-2 mt-3">
                        <div>{{price.title}}</div>
                        <div class="fw-weight-bold fs-3" style="font-size: 16 px;">{{price.value}}</div>
                    </div>

                    <div class="col-2 mt-5">
                        {{!-- <div class="position-absolute top-50 start-50">{{amount}}</div> --}}
                        <div style="vertical-align:middle;top:50%;">{{amount}}</div>
                    </div>

                    <div class="col-2 pt-3">
                        {{#each buttons}}
                        {{#if isPrimary}}
                        <button class="btn btn-primary mb-3">{{text}}</button>
                        {{/if}}

                        {{#if isDanger}}
                        <button class="btn btn-outline-danger mb-3">{{text}}</button>
                        {{/if}}

                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{!-- </div>
</div> --}}
{{/each}}